.Rectangle__button {
    background-color: white;
    border: 2px solid #008CBA;
    color: black;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.Rectangle__button_blue {
    margin-top: 18px;
    align-self: center;
    border: 2px solid #008CBA;
}
.Rectangle__button_blue:hover {
    background-color: #008CBA;
    color: white;
}
.Rectangle__button_red{
    border: 2px solid #f44336;
}
.Rectangle__button_red:hover {
    background-color: #f44336;
    color: white;
}