.Login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.Login .Login__field {
    width: 30vw;
}
.Login .Login__field .Login__item label {
    display: none;
}
.Login .Login__field .Login__item input {
    width: 100%;
    height: 3vh;
    margin: 4px 0;
}
