.App {
  /* 화면 전체를 이용하기 위해 */
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* PC */
@media screen and (min-width: 1025px) {
  .App .first__greeting {
    font-size: 3vw;
  }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .App .first__greeting {
    font-size: 3.5vw;
  }
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .App .first__greeting {
    font-size: 4.6vw;
  }
}