:root {
    --color: #86B9EB;
}

.Button{
    height: 5vh;
    width: 136px;
    margin: 4px 8px;
	font-size: 1.2vw;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration:none;
    /*Button Color & Border*/
    border: 4px solid var(--color);
    color: var(--color);
    background: #fff;
    outline: none;
    /*Position, Display, Size*/
    position: relative;
    display: inline-block;
    /* padding: 15px 10px 14px; */
    cursor: pointer;
}

.Button::after {
    /*Make a:after be as big as button*/
    position: absolute;
    width: 100%;
    height: 100%;
    /*Give a:after Border & Background color*/
    border: 2px solid var(--color);
    background-color: var(--color);
    /*Decide Location of a:after..this gives a           bottom right shadow*/
    left: 4px;
    top: 4px;
    /*Place a:after behind button*/
    z-index: -1;
    content: '';
    /*Animation/Transition Speed*/
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.Button:hover {
    top:2px;
    left:2px;
}
.Button:hover:after {
    top: -2px;
    left: -2px;
}