.SettingBusiness {
    width: 95%;
}

.SettingBusiness .SettingBusiness__header {
    margin: 12px 0;
    font-size: 1.5em;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SettingBusiness .SettingBusiness__header h1 {
    margin: 0;
    padding-bottom: 12px;
}
.SettingBusiness .SettingBusiness__header button {
    width: 100px;
    font-size: 1.3vw;
    letter-spacing: 0.5px;
    margin: 12px;
}

.SettingBusiness .SettingBusiness__list ul {
    list-style: none;
}
.SettingBusiness .SettingBusiness__list ul li {
    margin-bottom: 12px;
    padding: 12px;
    font-size: 1.3em;
    cursor: pointer;
    border: 1px solid #48C5F0;
    border-radius: 4px;
}
.SettingBusiness .SettingBusiness__list ul li:hover {
    background-color: #48C5F0;
}

.SettingBusiness .SettingBusiness__list .SettingBusiness__list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.SettingBusiness .SettingBusiness__list ul li p {
    margin: 0;
    padding: 0;
}
.SettingBusiness .SettingBusiness__list ul li .SettingBusiness__list__buttons button {
    margin-left: 12px;
}

/* MODAL */
.SettingBusiness .SettingBusiness__header .CustomModal .CustomModal__toggleButton {
    font-size: 1.3vw;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .SettingBusiness .SettingBusiness__header button {
        font-size: 1.8vw;
    }

    .SettingBusiness .SettingBusiness__header .CustomModal .CustomModal__toggleButton {
        font-size: 1.8vw;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .SettingBusiness .SettingBusiness__header button {
        font-size: 2.4vw;
    }

    .SettingBusiness .SettingBusiness__header .CustomModal .CustomModal__toggleButton {
        font-size: 2.4vw;
    }
}