.TableMap {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 12px;

    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
}
.TableMap__empty {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 12px;

    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: center;
    align-items: center;
}