button.RoundButton {
    background-color: white;
    border: 2px solid #008CBA;
    border-radius: 18px;
    color: black;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button.RoundButton:hover{
    background-color: #008CBA;
    color: white;
}