.Header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.Header .Header__login__text {
    font-size: 2vh;
    color: #000;
}
.Header .Header__login__text:after {
    display:block;
    content: '';
    border-bottom: solid 3px #61A3FF;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:  0% 50%;
}
.Header .Header__login__text:hover:after {
    transform: scaleX(1);
}


/* PC */
@media screen and (min-width: 1025px) {
    .Header .Header__login__text {
        margin-right: 24px;
    }
}
  
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .Header .Header__login__text {
        margin-right: 24px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .Header .Header__login__text {
        margin-right: 24px;
    }
}