@import url('https://fonts.googleapis.com/css?family=Poor+Story&display=swap');

* {
    /* 폰트: Poor Story */
    font-family: 'Poor Story', cursive;
}

/* MODAL */
div.CustomModal {
    display: inline-block;
}
.ReactModal__Content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    height: auto;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}
.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);

    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
.ReactModal__Overlay--after-open {
    opacity: 1;
}
.ReactModal__Overlay--before-close {
    opacity: 0;
}

/* TITLE */

.ReactModal__Content .modal__title {
    font-size: 1.5em;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

/* BODY */

.ReactModal__Content .modal__body {
    margin-top: 12px;
}

/* BUTTONS */

.ReactModal__Content .modal__buttons {
    margin-top: 18px;
    align-self: center;
}
