/* MODAL */
.ReactModal__Content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}
.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);

    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
.ReactModal__Overlay--after-open {
    opacity: 1;
}
.ReactModal__Overlay--before-close {
    opacity: 0;
}

/* BUTTON */
.CustomModal .CustomModal__toggleButton {
    background-color: white;
    border: 2px solid #008CBA;
    color: black;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.CustomModal .CustomModal__toggleButton:hover {
    background-color: #008CBA;
    color: white;
}