.Header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* PC */
@media screen and (min-width: 1025px) {
    .Header .Header__login__text {
        margin-right: 24px;
        text-decoration: underline;
    }
}
  
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .Header .Header__login__text {
        margin-right: 24px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .Header .Header__login__text {
        margin-right: 24px;
    }
}