.ValidatePassword {
    display: flex;
    flex-direction: column;
    flex: 1; /* 중간 정렬 */

    justify-content: center;
    align-items: center;
}
.ValidatePassword .input__group {
    margin-bottom: 14px;
}
.ValidatePassword .input__group .validatePw__label {
    margin-right: 12px;
    font-size: 1.5em;
}
.ValidatePassword .input__group .validatePw__input {
    height: 2em;
    width: 15vw;
}

/* INPUT */
/* Button */

.ValidatePassword .LabelInput,
.ValidatePassword .RoundButton {
    width: 15vw;
}

