.ValidatePassword {
    display: flex;
    flex-direction: column;
    flex: 1; /* 중간 정렬 */

    justify-content: center;
    align-items: center;
}
.ValidatePassword .input__group {
    margin-bottom: 14px;
}
.ValidatePassword .input__group .validatePw__label {
    margin-right: 12px;
    font-size: 1.5em;
}
.ValidatePassword .input__group .validatePw__input {
    height: 2em;
    width: 15vw;
}

/* TODO 공통화하기: button */

.ValidatePassword button {
    background-color: white;
    border: 2px solid #008CBA;
    border-radius: 18px;
    color: black;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw;
    width: 15vw;
    height: 40px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.ValidatePassword button:hover{
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}