.Signup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.Signup .Signup__field {
    width: 30vw;
}

.Signup .Signup__field .Signup__item label {
    display: none;
}
.Signup .Signup__field .Signup__item input,
.Signup .Signup__field .LabelInput .label__input {
    width: 100%;
    height: 3vh;
    margin: 4px 0;
}

.Signup .Signup__field .Signup__item .auth__container {
    width: 100%;
    height: 3vh;
    margin: 4px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Signup .Signup__field .Signup__item .auth__container input#signupEmailAuth {
    display: inline-block;
    width: 60%;
}
.Signup .Signup__field .Signup__item .auth__container .auth__request__button {
    font-size: 1.3vw;
}
.Signup .Signup__field .Signup__item .auth__container .auth__request__button:hover {
    cursor: pointer;
    font-style: italic;
    color: #999;
}

.Signup .btn__container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.Signup .btn__container .Button {
    width: 10vw;
}


/* ID Validation */
.Signup .Signup__field .Signup__item input.validate__ok {
    border: 3px solid greenyellow;
}
.Signup .Signup__field .Signup__item input.validate__not__ok {
    border: 3px solid red;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .Signup .btn__container .Button {
        width: 14vw;
    }
    .Signup .Signup__field .Signup__item .auth__container .auth__request__button {
        font-size: 1.5vw;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .Signup .Signup__field {
        width: 50vw;
    }
    .Signup .btn__container .Button {
        width: 20vw;
        font-size: 1.5vw;
    }
    .Signup .Signup__field .Signup__item .auth__container .auth__request__button {
        font-size: 1.5vw;
    }
}