.Signup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.Signup .Signup__field {
    width: 30vw;
}

.Signup .Signup__field .Signup__item label {
    display: none;
}
.Signup .Signup__field .Signup__item input {
    width: 100%;
    height: 3vh;
    margin: 4px 0;
}

/* ID Validation */
.Signup .Signup__field .Signup__item input.validate__ok {
    border: 3px solid greenyellow;
}
.Signup .Signup__field .Signup__item input.validate__not__ok {
    border: 3px solid red;
}