.Table {
    width: 95%;
}

.Table .Table__title {
    padding: 4px 8px;
    font-size: 1.8em;
}
.Table .Table__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #61a3ff;
    border-radius: 4px;
    border-bottom: none;
}
.Table .Table__header.last {
    border-bottom: 1px solid #61a3ff;
}

.Table ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.Table .Table__header label.Table__header__title {
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.Table input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
.Table input[type="checkbox"] ~ ul {
    height: 0;
    transform: scaleY(0);
}
.Table input[type="checkbox"]:checked ~ ul {
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1);
}
.Table input[type="checkbox"]:checked + div.Table__header {
    background: #61a3ff;
    border-bottom: 1px solid #61a3ff;
}

/* BUTTON */
.Table .Table__header button {
    background-color: white;
    border: 2px solid #008CBA;
    border-radius: 18px;
    color: black;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.Table .Table__header button:hover{
    background-color: #008CBA;
    color: white;
}

/* MODEL */

.ReactModal__Content .modal__body ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
}
.Table__sum {
    padding: 12px 36px 12px 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/* .ReactModal__Content .modal__body ul .Table__modal__menu__item {
    font-size: 1.5em;

}
.ReactModal__Content .modal__body ul .Table__modal__menu__item > * {
    display: inline-block;
    padding: 0;
    margin: 0;
} */