.Table {
    width: 95%;
}

.Table .Table__title {
    padding: 4px 8px;
    font-size: 1.8em;
}

.Table ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.Table label {
    display: block;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #61a3ff;
    border-radius: 4px;
    border-bottom: none;
}
.Table label.last {
    border-bottom: 1px solid #61a3ff;
}

.Table input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
.Table input[type="checkbox"] ~ ul {
    height: 0;
    transform: scaleY(0);
}
.Table input[type="checkbox"]:checked ~ ul {
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1);
}
.Table input[type="checkbox"]:checked + label {
    background: #61a3ff;
    border-bottom: 1px solid #61a3ff;
}

