/* HEADER COMMON */
.Header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: white;
}

/* TITLE & HOME LINK*/
.Header div.Header__home a {
    text-decoration: none;
    color: #000;
    font-size: 2vw;
    font-weight: bold;
    margin-left: 24px;
}


.Header .Header__list {
    display: flex;
    flex-direction: row;
}
.Header .Header__list li {
    list-style-type: none;
    color: #000;
    margin-left: 12px;
}


.Header .Header__list,
.Header .Header__list li a {
    font-size: 2vh;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.Header .Header__list li a {
    height: 100%;
}
.Header .Header__list li a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #61A3FF;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin:  0% 50%;
}
.Header .Header__list li a:hover:after {
    transform: scaleX(1);
}


/* PC */
@media screen and (min-width: 1025px) {

    .Header div.Header__home a {
        font-size: 2.3vw;
    }

    .Header .Header__list {
        margin-right: 24px;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1025px) {

    .Header div.Header__home a {
        font-size: 2.6vw;
    }

    .Header .Header__list {
        margin-right: 24px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {

    .Header div.Header__home a {
        font-size: 3vw;
    }

    .Header .Header__list {
        margin-right: 24px;
    }
}